/* <==== REUSABLE ====> */
.container_back {
  background-color: var(--light-color);
  display: flex;
  justify-content: center;
}

.subtitule {
  color: var(--dark-color);
}

.container {
  width: 330px;
}

.margin_container {
  margin: 50px 0;
}

/* <==== MOVIE INFO ====> */

.movie_container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px 0;
  position: relative;
  overflow: hidden;
}

.img_back {
  background-size: cover;
  background-position: center;
  position: absolute;
  width: 115%;
  height: 115%;
  z-index: -1;
  filter: blur(15px) brightness(0.7);
}

.movieAll_container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: white;
  overflow: hidden;
  border-radius: 5px;
}

.img_container {
  display: flex;
  justify-content: center;
  position: relative;
  background-color: rgb(7, 11, 27);
}

.img_back.two {
  z-index: 0;
  background-size: cover;
  background-position: right;
  filter: blur(15px) brightness(0.4);
}

.movieImg {
  width: 100%;
  background-size: cover;
  z-index: 1;
}

.title_genre_container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.movieInfo_container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 34px;
  z-index: 1;
  background-color: white;
  padding: 35px;
}

.title_container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.relase_ranking_container {
  display: flex;
  align-items: center;
  gap: 10px;
}

.tituleMovie {
  line-height: 2rem;
}

.relase {
  color: var(--dark-color);
  font-weight: 500;
}

.ranking {
  color: var(--firts-color);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.stars {
  display: flex;
  justify-content: center;
  align-items: center;
}

.genres_container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  gap: 5px 10px;
}

.genre {
  font-weight: 400;
  color: white;
  background-color: var(--firts-color);
  padding: 5px 15px;
  border-radius: 5px;
}

.overwiew {
  margin-bottom: 5px;
}

.overwiew_p {
  color: var(--dark-color);
}

.button_watch {
  width: 100%;
  padding: 10px 15px;
  font-size: var(--h3-font2-size);
  background-color: var(--firts-color);
  border-radius: 5px;
  font-weight: 700;
  cursor: pointer;
  text-align: center;
  transition: .4s;
  color: white;
}

.button_watch:hover {
  background-color: rgb(36, 77, 187);
}

/* <==== MOVIE REVIEW ====> */

.reviews_container {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.review {
  border-radius: 5px;
  background-color: white;
  padding: 30px;
  display: flex;
  justify-content: center;
  gap: 15px;
  position: relative;
  flex-direction: column;
}

.img_review {
  border-radius: 5px;
  width: 80px;
  height: 80px;
}

.info_review {
  display: flex;
  flex-direction: column;
  gap: 25px;
  width: 100%;
}

.firts_info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.rating {
  background-color: var(--firts-color);
  color: #fff;
  border-radius: 5px;
  font-size: var(--normal-font-size);
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.date {
  color: var(--dark-color);
  font-size: var(--small-font2-size);
  font-weight: 600;
} 

.link_review {
  color: #000;
  font-weight: 1000;
}

.author {
  line-height: 25px;
  margin-bottom: 5px;
}

/* <==== SIMILAR MOVIES ====> */

.similar {
  background-color: #fff;
}

.container_back {
  position: relative;
  overflow: hidden;
}
.subtitule {
  margin-bottom: 20px;
}

.similar_movies {
  margin-top: 20px;
}

.similar_movie {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px 0px;
}

.similar_img {
  width: 250px;
  border-radius: 5px;
}

.all_similar_container {
  position: relative;
}

.swiper {
  position: initial !important;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-button-prev, .swiper-button-next {
  position: absolute;
  top: 50%;
  width: 40px;
  height: 50px;
  z-index: 10;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(16, 17, 20);
  opacity: .5;
  transition: .4s;
  color: #fff;
  border: none;
  font-size: var(--normal-font-size);
  border-radius: 10px;
}

.swiper-button-prev:hover, .swiper-button-next:hover {
  opacity: 1;
}

.swiper-button-prev {
  left: 0;
  transform: translateX(-20px);
}

.swiper-button-next {
  right: 0;
  transform: translateX(20px);
}

/* <==== RESPONSIVE ====> */

/* <==== SMALL DEVICES ====> */

@media screen and (max-width: 376px) {
  /* <==== BASE ====> */
  h2 {
    font-size: var(--h3-font-size);
  }
  h3 {
    font-size: var(--normal-font-size);
  }
  h4 {
    font-size: var(--small-font-size);
  }
  p {
    font-size: var(--small-font-size);
  }

  /* <==== REUSABLE ====> */
  .container {
    width: 250px;
  }

  /* <==== MOVIE INFO ====> */
  .movieInfo_container {
    gap: 15px;
  }
  .title_container {
    gap: 5px;
  }
  .tituleMovie {
    line-height: 1.8rem;
  }
  .genre {
    font-size: var(--small-font-size);
  }
  .button_watch {
    font-size: var(--h3-font-size);
  }

  /* <==== MOVIE REVIEWS ====> */
  .author {
    margin-bottom: 0;
  }
  .date {
    font-size: var(--small-font-size);
  }
  .rating {
    padding: 10px;
    font-size: var(--small-font2-size);
  }
}

@media screen and (min-width: 377px) {
  .container {
    width: 300px;
  }
}

@media screen and (max-width: 470px) {
  .relase_ranking_container {
    flex-direction: column;
    align-items: flex-start;
  }
}

@media screen and (min-width: 470px) {
  .container {
    width: 67%;
  }
  .movieImg {
    width: initial;
    height: 500px;
  }
  .similar_img {
    width: 250px;
  }
}

@media screen and (min-width: 747px) {
  .review {
    flex-direction: row;
  }
}

@media screen and (min-width: 1000px) {
  .container {
    width: 800px;
  }
  .similar_img {
    width: 250px;
  }
}

@media screen and (max-width: 1200px) {
  .img_container {
    width: 100%;
  }
}

@media screen and (min-width: 1200px) {
  .movieAll_container {
    flex-direction: row;
    height: 500px;
  }
  .container {
    width: 1200px;
  }
  .similar_img {
    width: 250px;
  }
}

@media screen and (min-width: 1400px) {
  .container {
    width: 1300px;
  }
  .movieInfo_container {
    gap: 40px;
  }
}